#Line{
 width: 100%;
 border-style: solid;
 border-width: 1px 1px 1px 1px;
 padding-right: 5px;
 padding-left: 5px;
 height: 3em;
 list-style: none;
}

#iconLeft{
float: left;
}

#iconRight{
float: right;
}
.inlineButton{
background: none;
 border: none;
}
